<a href="https://colab.research.google.com/github/RedaElmar/DWBI_ETL/blob/master/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Colab library to upload files to notebook
from google.colab import files

# Install Kaggle library
!pip install -q kaggle

In [ ]:
# Upload kaggle API key file
uploaded = files.upload()

Saving kaggle.json to kaggle.json

In [ ]:
!kaggle datasets download -d mikejohnsonjr/us-counties-diversity-index

Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 5, in <module>
    from kaggle.cli import main
  File "/usr/local/lib/python2.7/dist-packages/kaggle/__init__.py", line 23, in <module>
    api.authenticate()
  File "/usr/local/lib/python2.7/dist-packages/kaggle/api/kaggle_api_extended.py", line 146, in authenticate
    self.config_file, self.config_dir))
IOError: Could not find kaggle.json. Make sure it's located in /root/.kaggle. Or use the environment method.

In [ ]:
!mv kaggle.json /root/.kaggle/kaggle.json

In [ ]:
!kaggle datasets download -d mikejohnsonjr/us-counties-diversity-index

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading us-counties-diversity-index.zip to /content
  0% 0.00/61.0k [00:00<?, ?B/s]
100% 61.0k/61.0k [00:00<00:00, 22.5MB/s]

In [ ]:
!kaggle datasets download -d aniruddhasshirahatti/us-unemployment-dataset-2010-2020

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading us-unemployment-dataset-2010-2020.zip to /content
  0% 0.00/3.82k [00:00<?, ?B/s]
100% 3.82k/3.82k [00:00<00:00, 3.75MB/s]

In [ ]:
!kaggle datasets download -d marshallproject/crime-rates

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading crime-rates.zip to /content
  0% 0.00/95.6k [00:00<?, ?B/s]
100% 95.6k/95.6k [00:00<00:00, 34.4MB/s]

In [ ]:
# Import pandas if you already haven't
import pandas as pd

# Import the test and train datasets into pandas dataframe
df_crime = pd.read_csv('crime.zip', compression='zip', header=0, sep=',', quotechar='"')
df_diversity = pd.read_csv('diversity.zip', compression='zip', header=0, sep=',', quotechar='"')

In [ ]:
df_crime

      report_year agency_code  ... assaults_percapita  robberies_percapita
0            1975     NM00101  ...             472.68               286.13
1            1975     TX22001  ...             117.36               100.46
2            1975     GAAPD00  ...             717.10               792.32
3            1975     CO00101  ...             333.46               146.58
4            1975     TX22701  ...             154.13               176.10
...           ...         ...  ...                ...                  ...
2824         2015     OK07205  ...             586.27               212.69
2825         2015     VA12800  ...              51.68                59.63
2826         2015     DCMPD00  ...             598.61               506.38
2827         2015     KS08703  ...             700.32               188.03
2828         2015         NaN  ...                NaN                  NaN

[2829 rows x 15 columns]